.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    grid-gap: 20px;
    background:linear-gradient(rgb(68, 68, 224), purple);
}

form{
    display: flex;
    flex-direction: column;
    width: 80%;
    grid-gap: 20px
}

input{
    margin: auto;
    justify-content: center;
    width: 90%;
    padding:10px 5px 10px 5px;
    border: solid 2px red;
    border-radius: 3px;
}

::placeholder{
    color: black;
    font-weight: 650;
}

#but:hover{
    background-color: rgb(119, 118, 118);

}

h1{
    color: white;
}